<mat-card>

    <mat-card-title>
        Admin Registration
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="AdminReg" (ngSubmit)="onSubmit()">
            <mat-form-field >
                <mat-label>First Name</mat-label>
                <input type="text" formControlName="FirstName" placeholder="First Name" matInput>
                <mat-error *ngIf="FirstName.errors?.['required']">Name is Required</mat-error>
                <mat-error *ngIf="FirstName.invalid && !FirstName.errors?.['required']">Enter Valid Name</mat-error>
            </mat-form-field>

            <mat-form-field >
                <mat-label>Last Name</mat-label>
                <input type="text" formControlName="LastName" placeholder="Last Name" matInput>
                <mat-error *ngIf="LastName.errors?.['required']"> Last Name is Required</mat-error>
                <mat-error *ngIf="!LastName.errors?.['required'] && LastName.invalid">Enter a Valid Last Name</mat-error>
            </mat-form-field>
            
            <mat-form-field >
                <mat-label>
                    Email
                </mat-label>
                <input type="email" formControlName="Email" placeholder="Email" matInput>
                <mat-error *ngIf="Email.errors?.['required']">Email Required</mat-error>
                <mat-error *ngIf="!Email.errors?.['required'] && Email.invalid">Enter valid Email</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Mobile</mat-label>
                <input type="number" formControlName="PhoneNumber" placeholder="Mobile No." for="Mobile" matInput>
                <mat-error *ngIf="PhoneNumber.errors?.['required']"> Mobile No. Required</mat-error>
                <mat-error *ngIf="!PhoneNumber.errors?.['required'] && PhoneNumber.invalid"> Enter Valid No.</mat-error>
            </mat-form-field>

            <mat-form-field >
                <mat-label>
                    Date of Birth
                </mat-label>
                <input type="date" formControlName="DOB" placeholder="Date of Birth" matInput>
                <mat-error *ngIf="DOB.errors?.['required']">Date of Birth Required</mat-error>
                <mat-error *ngIf="!DOB.errors?.['required'] && DOB.invalid">Enter valid Date</mat-error>
            </mat-form-field>
            
            <mat-label ><strong>Gender </strong>  </mat-label>

                <mat-radio-group   aria-label="Gender" formControlName="Gender">
                    <mat-radio-button value="Male"> Male </mat-radio-button>
                    <mat-radio-button value="Female"> Female </mat-radio-button>
                    <mat-radio-button value="Other"> Other </mat-radio-button>
                    
                    
                </mat-radio-group>
                

                <mat-form-field >
                    <mat-label>Colony Name</mat-label>
                    <input type="text" formControlName="Colony" placeholder="Colony" matInput>
                    <mat-error *ngIf="Colony.errors?.['required']">Colony is Required</mat-error>
                    <mat-error *ngIf="Colony.invalid && !Colony.errors?.['required']">Enter Valid Colony Name</mat-error>
                </mat-form-field>
                
                <mat-form-field >
                    <mat-label>Address</mat-label>
                    <input type="text" formControlName="Address" placeholder="Address" matInput>
                    <mat-error *ngIf="Address.errors?.['required']"> Last Name is Required</mat-error>
                    <mat-error *ngIf="!Address.errors?.['required'] && Address.invalid">Enter a Valid Last Name</mat-error>
                </mat-form-field>
                
            <mat-form-field >
                <mat-label>Password</mat-label>
                <input type="password" matInput type="password" formControlName="Password">
                <mat-error *ngIf="!Password.errors?.['required'] && Password.invalid">
                  Password Must contain Uppercase Latter, a Number, a special Symbol, minimum length 8, 
                </mat-error>
                <mat-error *ngIf="Password.errors?.['required']" >
                  Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field >
                <mat-label>Confirm Password</mat-label>
                <input [type]="hide?'password':'text'" matInput  formControlName="ConfirmPassword" (input)="onConfirmPassword()">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="!ConfirmPassword.errors?.['required'] && ConfirmPassword.invalid">Password does Not Match</mat-error>
                <mat-error *ngIf="ConfirmPassword.errors?.['required']" >Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <button mat-button class="button" [disabled]="AdminReg.invalid"> Submit </button>
            
            
        </form>
    </mat-card-content>
</mat-card>