<div class="container-fluid">
 

    <div class="row">
        <div class="col-md-4 mt-2">
            <mat-card class="card-sm all-user">
                <mat-card-header>
                    <i mat-card-avatar class="fa fa-users card-avatar"></i>
                </mat-card-header>
                <mat-card-content>
                    <h2> {{totalAdmins}}</h2>
                    <p>Total Admin's</p>
                </mat-card-content>
                <mat-card-footer>
                    <mat-card-actions><a >More Infor</a></mat-card-actions>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-md-4 mt-2">
            <mat-card class="card-sm blocked-user">
                <mat-card-header>
                    <i mat-card-avatar class="fa fa-user-times card-avatar"> </i>
                </mat-card-header>
                <mat-card-content>
                    <h2> {{deactivatedAdmins}}</h2>
                    <p>Total Deactivated Admins!</p>
                </mat-card-content>
                <mat-card-footer>
                    <mat-card-actions><a >More Infor</a></mat-card-actions>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-md-4 mt-2">
            <mat-card class="card-sm active-user">
                <mat-card-header>
                    <i mat-card-avatar class="fa fa-users card-avatar"></i>
                </mat-card-header>
                <mat-card-content>
                    <h2> {{activeAdmins}}</h2>
                    <p>Total Active Admins.</p>
                </mat-card-content>
                <mat-card-footer>
                    <mat-card-actions><a >More Infor</a></mat-card-actions>
                </mat-card-footer>
            </mat-card>

        </div>

    </div>
<!-- 
    <div class="row">
        <div class="col-md-4 mt-2">
            <mat-card class="card-sm">
                <mat-card-header>
                    <i mat-card-avatar class="fa fa-users card-avatar"></i>
                </mat-card-header>
                <mat-card-content>
                    <h2> 1000</h2>
                    <p>Total Admin's</p>
                </mat-card-content>
                <mat-card-footer>
                    <mat-card-actions><a href="#">More Infor</a></mat-card-actions>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-md-4 mt-2">
            <mat-card class="card-sm">
                <mat-card-header>
                    <i mat-card-avatar class="fa fa-user-times card-avatar"></i>
                </mat-card-header>
                <mat-card-content>
                    <h2> 1000</h2>
                    <p>Total Admin's</p>
                </mat-card-content>
                <mat-card-footer>
                    <mat-card-actions><a href="#">More Infor</a></mat-card-actions>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-md-4 mt-2">
            <mat-card class="card-sm">
                <mat-card-header>
                    <i mat-card-avatar class="fa fa-users card-avatar"></i>
                </mat-card-header>
                <mat-card-content>
                    <h2> 1000</h2>
                    <p>Total Admin's</p>
                </mat-card-content>
                <mat-card-footer>
                    <mat-card-actions><a href="#">More Infor</a></mat-card-actions>
                </mat-card-footer>
            </mat-card>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-12 mt-3 ">
            <mat-card class="card-lg-bottom">
                <mat-card-title>Notifictions</mat-card-title>
            </mat-card>
        </div>
    </div>
</div>