<div class="sidenav">
    <div class="logo">
        <a routerLink="#" class="simple-text logo-mini">
            <img src="http://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png" alt="" class="logo-img rounded-circle" >
        </a>
        <a href="" class="simple-text logo-normal"></a> Admin
    </div>
    <ul class="nav">
        <li><a routerLink="./"><i class="fa fa-th"></i>Dashboard</a></li>
        <li><a routerLink="Profile"><i class="fa fa-user"></i>Profile</a></li>
        <li><a routerLink="Voters"><i class="fa fa-users"></i>Voters</a></li>
        <li><a routerLink="AddElection"><i class="fa fa-plus"></i>Add New Election</a></li>
        <li><a routerLink="Elections"><i class="fa fa-arrow-right"></i>Election</a></li>
        <li><a routerLink="Results"><i class="fa  fa-list-alt"></i>Results</a></li>
        <li><a routerLink="../"   (click)="logOut()"><i class="fa  fa-sign-out"></i>Logout</a></li>


    </ul>
</div>