
<div class="row">

    <div class="col-sm-4">
        <div class="home-side-box">
            <div  class="head">
                Online Voting
            </div>
            <div>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis ratione iste minima ipsa maiores voluptates dolorum natus excepturi nihil laboriosam, accusantium perspiciatis unde animi quidem consectetur quia totam error modi harum commodi in dignissimos!
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <img src="..\assets\Images\vote.jpg" class="img-full" alt="">
    </div>
</div>