<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container" >
        <a class="navbar-brand" routerLink="Home"><img src="http://www.usoftsolutions.net/sites/default/files/styles/large/public/e-vote_01.png?itok=Wi5e-7W7" width="100" class="rounded-circle" alt=""> <span class="text-warning">  E</span> <span class="text-danger">-</span>Voting</a> 
          <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
         <span class="navbar-toggler-icon"></span></button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
             <li class="nav-item" >
                 <a class="nav-link" routerLinkActive="active" routerLink="">Home</a>
             </li>
           

                 <li class="nav-item" *ngIf="!isLogedIn">
                     <a class="nav-link"  routerLinkActive="active" routerLink="SignUp">SignUp</a>
                    </li>
                    <li class="nav-item" *ngIf="!isLogedIn">
                        <a class="nav-link"  routerLinkActive="active" routerLink="" (click)="loginButton?onLoginOpen():onLoginClose()">Login</a>
                    </li>
                    <li class="nav-item" *ngIf="isLogedIn">
                        <a class="nav-link"  routerLinkActive="active" [routerLink]="link">DashBoard</a>
                       </li>
         </ul>
     </div>
 </div>
 </nav>