    <div class="full-width-table top-content mb-5">

      <div class="top-button">
        <a class="button" (click)="AllVoters()"  mat-stroked-button color="">All Voters</a>
      <a class="button" (click)="BlockedVoters()"  mat-stroked-button color="">Blocked Voters</a>
      <a class="button" (click)="VarifyVoters()"  mat-stroked-button color="">Varify Voters</a>
      
    </div>
    </div>
    <div class="full-width-table">
      <h1 *ngIf="isAllVoters">All Voters</h1>
      <h1 *ngIf="isBlockedVoters">Blocked Voters</h1>
      <h1 *ngIf="isVarifyVoters">Pending Verification</h1>
      
    </div>
    
    <table mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-mobile">Id</th>
        <td mat-cell *matCellDef="let row" class="table-mobile">{{row.id}}</td>
      </ng-container>
      
      <!-- Name Column -->
      <ng-container matColumnDef="name" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-mobile">Name</th>
        <td mat-cell *matCellDef="let row" class="table-mobile"><img  src="https://www.pngkey.com/png/full/114-1149878_setting-user-avatar-in-specific-size-without-breaking.png" alt="" class="admin-avatar"> {{row.name}}</td>
      </ng-container>
  
      <!-- Email -->
      <!-- <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="table-mobile">Email</th>
        <td mat-cell *matCellDef="let row" class="table-mobile">{{row.email}}</td>
      </ng-container> -->
  
     <!-- Registration Date -->
     <ng-container matColumnDef="registrationDate">
       <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-mobile">RegistrationDate</th>
      <td mat-cell *matCellDef="let row" class="table-mobile">{{row.registrationDate}}</td>
    </ng-container>
    
      <!-- Status   -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-mobile">Status</th>
        <td mat-cell *matCellDef="let row" class="table-mobile">Active</td>
      </ng-container>
  
      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="table-mobile">Actions</th>
        <td mat-cell *matCellDef="let row" class="table-mobile"><a (click)="onViewClick()" class="actions" mat-stroked-button color="">View</a><a *ngIf="isAllVoters" (click)="onBlockClick()" class="actions" mat-stroked-button color="warning">BLOCK</a><a *ngIf="isBlockedVoters" (click)="onBlockClick()" class="actions" mat-stroked-button color="warning">Unblock</a><a *ngIf="isVarifyVoters" (click)="onBlockClick()" class="actions" mat-stroked-button color="warning">Confirm</a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
  class="full-width-table"
  [length]="dataSource?.data?.length"
  [pageIndex]="0"
  [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20,50]"
      aria-label="Select page">
    </mat-paginator>

  