<div class="container-fluid">
 

    <div class="row">
        <div class="col-md-4 mt-2">
            <mat-card class="card-sm all-user">
                <mat-card-header>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeYejOntZYKScPost0Q1oIa4wMH_iQg29UCQ&usqp=CAU" mat-card-avatar class="card-avatar">
                </mat-card-header>
                <mat-card-content>
                    <h2> 1000</h2>
                    <p>Total Elections</p>
                </mat-card-content>
                <mat-card-footer>
                    <mat-card-actions><a href="#">More Infor</a></mat-card-actions>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-md-4 mt-2">
            <mat-card class="card-sm normal">
                <mat-card-header>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTB_Si-4y2MYay0NjRHIQ2Dc01RiDCnm6WOQ&usqp=CAU" mat-card-avatar class="card-avatar">
                </mat-card-header>
                <mat-card-content>
                    <h2> 1000</h2>
                    <p>Upcomming Elections</p>
                </mat-card-content>
                <mat-card-footer>
                    <mat-card-actions><a href="#">More Infor</a></mat-card-actions>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-md-4 mt-2">
            <mat-card class="card-sm active-user">
                <mat-card-header>
                    <img src="https://image.shutterstock.com/image-vector/completed-stamp-sticker-seal-round-260nw-551922319.jpg" mat-card-avatar class="fa fa-users card-avatar">
                                </mat-card-header>
                <mat-card-content>
                    <h2> 1000</h2>
                    <p>Completed Elections</p>
                </mat-card-content>
                <mat-card-footer>
                    <mat-card-actions><a href="#">More Infor</a></mat-card-actions>
                </mat-card-footer>
            </mat-card>

        </div>

    </div>
    <div class="row">
        <div class="col-md-4 mt-2">
            <mat-card class="card-sm all-user">
                <mat-card-header>
                    <i mat-card-avatar class="fa fa-users card-avatar"></i>
                </mat-card-header>
                <mat-card-content>
                    <h2> 1000</h2>
                    <p>Total Voters</p>
                </mat-card-content>
                <mat-card-footer>
                    <mat-card-actions><a routerLink="Elections">More Infor</a></mat-card-actions>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-md-4 mt-2">
            <mat-card class="card-sm blocked-user">
                <mat-card-header>
                    <i mat-card-avatar class="fa fa-user-times card-avatar"></i>
                </mat-card-header>
                <mat-card-content>
                    <h2> 1000</h2>
                    <p>Blocked Voters</p>
                </mat-card-content>
                <mat-card-footer>
                    <mat-card-actions><a href="#">More Infor</a></mat-card-actions>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-md-4 mt-2">
            <mat-card class="card-sm active-user">
                <mat-card-header>
                    <i mat-card-avatar class="fa fa-users card-avatar"></i>
                </mat-card-header>
                <mat-card-content>
                    <h2> 1000</h2>
                    <p>Active Voters</p>
                </mat-card-content>
                <mat-card-footer>
                    <mat-card-actions><a href="#">More Infor</a></mat-card-actions>
                </mat-card-footer>
            </mat-card>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12 mt-3 ">
            <mat-card class="card-lg-bottom">
                <mat-card-title>Notifictions</mat-card-title>
            </mat-card>
        </div>
    </div>
</div>